---
---
<nav class="top">
  <div class="container">
    <a class="brand" href="/">Parker Tikson</a>
    <div class="links">
      <a href="/masters">Master's</a>
      <a href="/bachelors">Bachelor's</a>
      <a href="/about">About</a>
      <a href="/photo">Photo</a>
      <a href="/resume">Résumé</a>
    </div>
  </div>
</nav>
